.App {
  text-align: center;
  font-family: Arial, sans-serif;
  align-items: center;
}

.title {
  color: #ff5555;
}
.content-todo{
  background: linear-gradient(to bottom, #ff7733, #f0c8b4); /* Gradiente de exemplo */
  height: 100vh;
}
.content {
  text-align: center;
  align-items: center;
  width: 30%;
  height: 50vh !important;
  margin: 0 auto;
  top: 100px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  /* Alinhe os itens verticalmente no centro */
}@media screen and (min-width: 320px){
  .content{
    width: 90%;
    padding: 20px 0 20px 0;
  }
  .input{
    width: 170px;
 margin-top: 20px;
  }
  ul{
    padding: 20px;
  }
}

.list {
  text-align: left;
  max-height: 170px;
  /* Defina a altura máxima para a lista */
  overflow-y: auto;
  /* Habilita a rolagem vertical quando necessário */
}

li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom:none;
color: #ff5555;
}

.input {
  background-color: #ffffff;
  padding-left: 10px;
  border: 1px solid #ff5555;
  outline: none;
  height: 32px;
  border-radius: 20px 0 0 20px;
}
.listDescription{
  padding-top:80px ;
}
ul {
  list-style-type: none;
  padding: 0;
}

.button-add {
  border-radius: 0 20px 20px 0;
  width: 80px;
}

button {
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 4px;
  cursor: pointer;
}